.kotak{
	border: 1px solid black;
	height: 40px;
	line-height: 40px;
	text-align: center;
	width: 40px;
	margin: 5px;
	float: left;
	}

.ganjil {
			background-color: #003;
			color: #fff;
}
.genap {
			background-color: #999;
}
.clear {
			clear: both;
}